:root {
  --bg: #D9B5A0;
  --fg: #200c0c;
  --bg-alt: rgb(214, 184, 184);
  --bg-muted: rgb(68, 43, 43);
  --fg-muted: #ccc;
  --link-fg: #5922029a;
  --link-fg-visited: rgb(73, 66, 60);
  --link-focus-fg: #ffffff;
  --link-focus-bg: #8C3030; 
}

::selection {
  background: #BF5841;
}

body { 
  font-family: 'Inter';
  line-height: 1.5;
  color: var(--fg);
  background-color: var(--bg);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: 0.0005em;
}

nav {
  display: flex; /* 1 */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--bg);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--link-fg);
  padding: .15ch;
  margin-right: 10px;
  display: inline-block;
}

nav a:hover {
  color: #1b0f08;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}


a:visited {
  color: var(--link-fg-visited);
}

a:focus {
  color: var(--link-focus-fg) !important;
  background-color: var(--link-focus-bg) !important;
  outline: none;
}


figcaption {
  text-align: center;
}

article img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



p {
  hyphens: auto;
  text-align: justify;
}

main > h1:first-child {
  display: block;
  margin-block-start: 0.4em;
  margin-block-end: 0.04em;
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
}

main > h1 {
  font-size: 24pt;
  text-align: center;
  font-weight: normal;
}

main > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  text-align: center;
  font-weight: normal;
  line-height: 1;
  margin: 10px;
  display: block;
  margin-block-start: 0.83em;
  margin-inline-end: 10px;
  font-weight: bold;
}
 
h1, h2, h3, h4, h5 {
  margin-top: .2ch;
}

pre {
  overflow: auto;
  max-width: 60ch;
}

article {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1ch;
}

article > p {
  text-align: justify;
  font-weight: light;
}

article h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 9rem 1rem;
}

.meta {
  text-align: center;
}

#content, article > .content {
  background-color: var(--bg-alt);
  box-shadow: 5px 5px 1px #888;
  border: 1px solid #ccc;
  padding: 2ch;
}

pre {
  padding: 1ch;
}

.tags {
  font-size: 0.8em;
}

.tags ul {
  font-family: monospace;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#content h1, article > .content h1 {
  font-size: 1.3rem;
  text-decoration: none;
  border-bottom: double;
}

#content h2, article > .content h2 {
  font-size: 1.2rem;
  text-decoration: double underline;
  font-size: 16pt;
}

#content h3, article > .content h3 {
  font-size: 1.1rem;
  text-decoration: underline;
  font-size: 14pt;
}

footer p {
  text-align: center !important;
}

footer {  
  background-color: var(--bg-muted);
  color: var(--bg);
  padding: 1ch;
  box-sizing: border-box;
  margin-top: 2ch;
}

footer #footer-text {
  max-width: 60ch;
  color: var(--fg-muted);
  margin: 0 auto;
}

footer a, footer a:visited {
  color: var(--fg-muted);
}

.recent-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-posts a {
  text-decoration: underline;
  color: var(--link-fg);
  padding: 0.1ch;
  margin-right: 10px;
  display: inline-block;
  margin-inline-start: .2em;
}

.recent-posts a:hover {
  color: var(--fg);
}

.recent-posts h2 {
  font-size: 1.2em;
  font-weight: normal;;
  text-align: center;

}
.recent-posts dt {
  font-weight: 300;
  font-size: .9em;
}

.recent-posts dd {
  text-align: center;
  margin-left: .44ch;
  font-size: .9em;
}


@media (max-width: 1024px) {
  main > h1 {
    font-size: 24pt;
  }
}

@media (max-width: 640px) {
  p {
    text-align: left;
    hyphens: manual;
  }
  body {
    font-size: 14pt;
  }
  main > h1 {
    font-size: 20pt;
  }
  article {
    font-size: 14pt;
    width: 90%;
  }
  pre {
    font-size: 14pt;
  } 
}