{% extends "default.html" %}

{% block title %}{{ post.title }} - {{ config.blog_title }}{% endblock %}
{% block styles %}
{% if post.type == 'post' %}
    <link rel="stylesheet" href="../../static/style.css">
{% else %}
    <link rel="stylesheet" href="../static/style.css">
{% endif %}
{% endblock %}
{% block card %}
{% endblock %}
{% block nav %}
    {% if post.type == 'post' %}
    <nav>
       <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about.html">About</a></li>
       </ul>
    </nav>
    {% else %}
    <nav>
       <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
       </ul>
    </nav>
    {% endif %}
{% endblock %}
{% block content %}
    {% if post is defined %}
        <article>
            <header>
            	{% if post.type == 'post' %}
                <h2>{{ post.title }}</h2>
                {% endif %}
            </header>
            <div class="content" id="content">
                {{ post.content|safe }}
            </div>
            <footer>
                <p>Last updated: {{ post.last_updated }}</p>
            </footer>
        </article>
    {% else %}
        <p>Post not found.</p>
    {% endif %}
{% endblock %}

